<div
    #paperComponentWrapper
    style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        /*height: 50%;*/
        width: 100%;
        height: 100%;
        max-width: 2000px;
    "
>
    <app-paper
        #paperComponent
        [size]="size"
        style="width: 100%; height: 80%"
    ></app-paper>
    <div
        style="
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 20%;
            width: 100%;
        "
    >
        <div class="buttons-wrapper">
            <button
                pButton
                [label]="'POSITIVE'"
                (click)="addHappyUser()"
                style="margin-right: 20px"
            ></button>
            <!--            <button-->
            <!--                class="contribute-button"-->
            <!--                style="'width: 100px; height: 50px'"-->
            <!--                pButton-->
            <!--                (click)="contribute()"-->
            <!--                [label]="'CONTRIBUTE YOUR FACE'"-->
            <!--            ></button>-->
            <button
                pButton
                [label]="'NEGATIVE'"
                (click)="addSadUser()"
            ></button>
        </div>
        <div
            style="
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: baseline;
                width: 100%;
            "
        >
            <div style="font-size: 30px; width: 100%; text-align: center">
                VISITS
            </div>
            <div style="font-size: 30px; width: 100%; text-align: center">
                {{ usersOnline }}
            </div>
        </div>
    </div>
</div>
